.navbar-custom {
  background-color: hsla(129.41176470588235,47.66355140186916%,20.980392156862745%);
}
body {
  color: white;
}
footer {
  background-color: hsla(129.41176470588235,47.66355140186916%,20.980392156862745%);
  color: white;
}
.TopMenu {
  background-color: hsla(129.41176470588235,47.66355140186916%,20.980392156862745%);
}
.Navbar{
  background-color: hsla(129.41176470588235,47.66355140186916%,20.980392156862745%);
}